params {

	// where to look for BAM files
	bam_dir = ""

	// the reference FASTA to use when variant-calling
	ref_fasta = "$projectDir/assets/MN908947.3.fasta"

	// Where to place results
	results = "$launchDir/results"

	// which commands to run
	demix = true
	get_lineage_def = false
	boot = false
	aggregate = true
	plot = true
	dash = false
	relgrowthrate = false
	extract = false
	filter = false
	covariants = false
	plot_covariants = false

	// whether to delete intermediate files in work
	cleanup = false

}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
	enabled = true
	overwrite = true
	file    = "${params.results}/alltheFreyjas_report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = 'alltheFreyjas_dag.png'
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = params.cleanup


// PROFILE OPTIONS
profiles {
	
	standard {

		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		process.container = "staphb/freyja:1.5.0-04_09_2024-00-44-2024-04-10"

	}
	
	docker {

		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		process.container = "staphb/freyja:1.5.0-04_09_2024-00-44-2024-04-10"

	}
	
	singularity {

		singularity.enabled = true
		singularity.cacheDir = "work/apptainer/"
		singularity.autoMounts = true
		docker.enabled = false
		conda.enabled = false
		process.container = "docker://staphb/freyja:1.5.0-04_09_2024-00-44-2024-04-10"

	}
	
	apptainer {

		apptainer.enabled = true
		apptainer.cacheDir = "work/apptainer/"
		apptainer.autoMounts = true
		docker.enabled = false
		conda.enabled = false
		process.container = "docker://staphb/freyja:1.5.0-04_09_2024-00-44-2024-04-10"

	}

}


// MANIFEST
manifest {
	homePage = "https://github.com/nrminor/alltheFreyjas"
	mainScript = "main.nf"
	defaultBranch = "main"
	description = "A simple Nextflow wrapper that tells Freyja to do all the things"
	author = "Nicholas R. Minor"
}